---
import AthleteBigImage from "../../components/AthleteBigImage.astro";
import { ATHLETES } from "../../const/athletes";
import type { Preload } from "@/types/Preload";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths()  {
  return ATHLETES.map(({id}) => ({
    params: {id},
  }))
}
const {id} = Astro.params;
const [athlete] = ATHLETES.filter((athlete) => athlete.id === id);

const preloadAthleteImage: Preload[] = [
  {
    as: "image",
    href: `https://res.cloudinary.com/dliqpogct/image/upload/f_auto,q_auto/v1/midjourney/${id}.png`,
    type: "image/png",
    rel: "preload",
  },
]
export const prerender = true;
---
<Layout title={`${athlete.name} - Hellbound Cup`} preload={preloadAthleteImage}>
  <main>
    <AthleteBigImage 
      id={id}
      name={athlete.name}
      loading="eager" />
  </main>
</Layout>
<script>
  document.addEventListener("astro:page-load", () => {
    console.log("page loaded");
  })
</script>