---
import AthleteBigImage from "@/components/AthleteBigImage.astro";
import { ATHLETES } from "@/const/athletes";
import type { Preload } from "@/types/Preload";
import Layout from "@/layouts/Layout.astro";
import Header from "@/sections/Header.astro";
import SocialMedia from "@/components/SocialMedia.astro";
import Instagram from "@/icons/Instagram.astro";

export function getStaticPaths()  {
  return ATHLETES.map(({ id }) => {
    return { params: { id } }
  })
}
const { id } = Astro.params;
const [athlete] = ATHLETES.filter((athlete) => athlete.id === id);

const preloadAthleteImage: Preload[] = [
  {
    as: "image",
    href: `https://res.cloudinary.com/dliqpogct/image/upload/f_auto,q_auto/v1/hellbound/${id}-big.webp`,
    type: "image/webp",
    rel: "preload",
  },
]
export const prerender = true
---
<Layout title={`${athlete.name} - Hellbound Cup`} description="El evento mas perro alv" preload={preloadAthleteImage}>
  <Header />
  <main>
    <article>
      <section>
        <AthleteBigImage 
        id={id}
        name={athlete.name}
        loading="eager" />
      </section>
      <section>
        <p>Categoria <span>{athlete.category}</span></p>
        <p>Peso <span>{athlete.weight}</span></p>
        <SocialMedia href={athlete.socials.instagram} >
          <Instagram />
        </SocialMedia>
      </section>
    </article>
  </main>
</Layout>
<style>
	main {
		padding: 1rem;
		max-width: 72rem;
		min-height: 100vh;
		margin: 0 auto;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		position: relative;
	}
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10vh;
  }
  section:first-of-type{
    position: relative;
  }
  section:last-of-type{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
</style>