---
import type { Preload } from '@/types/Preload';

interface Props {
	title: string;
	preload?: Array<Preload>;
		canonical?: string
}

const { title, preload, canonical} = Astro.props;

const determineCanonicalURL = () => {
	if (Astro.url.host.includes("localhost")) return "http://localhost:4321"
	return canonical || Astro.url.pathname
}

const canonicalURL = new URL(determineCanonicalURL(), Astro.site)
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		{
			preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
				<link {rel} {href} {as} {type} {crossorigin} />
			))
		}
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="canonical" href={canonicalURL} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--bg-color: #510b1d;
		--main-color: #e30047;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--bg-color);
	}
	main{
		position: relative;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	h1,h2,h3,p{
		text-align: center;
	}
	img{
		display: block;
	}
</style>
